{{ define "content" }}
<p class="lead">
  <a href="/lesson/new">Create a lesson</a> or view one below
</p>

{{ range . }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead"> <i class="fa fa-eye"></i> {{ .Topic }}</span>
    </div>
    <div class="panel-body">
      Created by {{ .User.Name }} - {{ .CreatedAtDate }}
			 <!-- - {{ .NumReplies }} components. -->
      <div class="pull-right">
        <a href="/lesson/read?id={{.Uuid }}">Details</a>
      </div>
    </div>
  </div>
{{ end }}

{{ end }}
