{{ define "content" }}

  <h5>Search Repo for Images</h5>
  <form id="search-repo">
    <input type="text" name="repo" placeholder="Enter repository location..."/>
    <br/>
    <br/>
    <input type="text" name="username" placeholder="Enter username..."/>
    <br/>
    <br/>
    <input type="password" name="password" placeholder="Enter password..."/>
    <br/>
    <br/>
    <button class="btn btn-success" type="submit">Search Repo for Images</button>
  </form>

  <div id="repo-search-results"></div>

{{end}}
